body {
  background-color: #131316;
  color: #fff;
  margin: 0 auto;
}

.header .animated-advertising {
  background-color: #FF330E;
}
.header .animated-advertising p {
  color: #131316;
  margin: 0 auto;
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 69px, 80px;
  gap: 70px;
}
.footer__container {
  width: 1440px;
}
.footer__logobox {
  width: 150px;
}
.footer__navigation {
  width: 100px;
}
.footer__categories {
  width: 100px;
}
.footer__contacts {
  width: 150px;
}