body {
  background-color: #131316;
  color: #fff;
}

.header .animated-advertising {
  background-color: #FF330E;
}
.header .animated-advertising p {
  color: #131316;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__logobox {
  width: 150px;
}
.footer__navigation {
  width: 100px;
}
.footer__categories {
  width: 100px;
}
.footer__contacts {
  width: 150px;
}