.header {

    .animated-advertising {
        background-color: #FF330E;

        p {
            color: #131316;
            margin: 0 auto;
            font-family: Montserrat;
            font-weight: 800;
            font-style: ExtraBold;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            text-transform: uppercase;
        }
    }
}