.info{
    padding: 150px 150px;
    background-color: #1A1A1E;

    &__container{
        width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__textbox{
        max-width: 700px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 50px 0px 15px 0px;
        font-family: Inter;
        font-size: 20px;
    }

    &__title{
        font-family: $font-main;
        font-size: 64px;
        margin: 0px;
    }

    &__text {
        font-family: Inter;
        color: #B3B3B3;
        font-size: 16px;
        margin: 0px;
    }
}


.count{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 72px;

    &__number{
        font-family: $font-numbers;
        color: #ED3B1B;
        font-size: 48px;
        font-weight: 500;
        margin: 0px;
    }

    &__text{
        font-family: Inter;
        color: #B3B3B3;
        font-size: 16px;
        margin: 0px;
    }
}
